<div class="container">
  <h1 class="text-center">HQs</h1>

  <!-- Exibe o loading enquanto os dados estão sendo carregados -->
  <div *ngIf="isLoading" class="col-12 text-center">
    <p>Carregando...</p>
  </div>

  <div *ngIf="!isLoading" class="row">
    <div 
      class="col-md-4 mb-4" 
      *ngFor="let comic of pagedComics | paginate: { itemsPerPage: 20, currentPage: currentPage }" 
      [hidden]="comic.hideComic">
      <div class="movie-item">
        <img 
          [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension" 
          class="card-img-top" 
          alt="{{ comic.title }}" 
          (load)="handleImageError(comic)">
        <div class="overlay">
          <h5 class="card-title">{{ comic.title }}</h5>
        </div>
      </div>
    </div>
  </div>

  <!-- Botão para voltar para Home -->
  <div class="text-center mt-4">
    <button class="big-button btn btn-primary" (click)="navigateToHome()">Voltar para Home</button>
  </div>

  <div class="d-flex justify-content-center mt-3">
    <pagination-controls 
      class="pagination-lg" 
      (pageChange)="pageChanged($event)">
    </pagination-controls>
  </div>

  <!-- Exibe a mensagem de erro caso haja algum problema ao carregar os dados -->
  <div *ngIf="errorMessage" class="col-12 text-center text-danger">
    <p>{{ errorMessage }}</p>
  </div>
</div>
