<br>
<h1 class="text-center">Personagens</h1>

<div class="container">  
  <!-- Exibição de mensagem de carregamento -->
  <div *ngIf="isLoading" class="col-12 text-center">
    <p>Carregando personagens...</p>
  </div>

  <!-- Exibição de mensagem de erro -->
  <div *ngIf="errorMessage" class="col-12 text-center text-danger">
    <p>{{ errorMessage }}</p>
  </div>

  <!-- Listagem de personagens -->
  <div *ngFor="let character of pagedCharacters" class="col-md-4 mb-4">
    <div class="movie-item">
      <img [src]="character.thumbnail.path + '.' + character.thumbnail.extension" class="card-img-top"
        alt="{{ character.name }}">
      <div class="card-body">
        <h5 class="card-title">{{ character.name }}</h5>
      </div>
    </div>
  </div>
</div>

<!-- Botão para voltar para Home -->
<div class="text-center mt-4">
  <button class="big-button btn btn-primary" (click)="navigateToHome()">Voltar para Home</button>
</div>

<!-- Paginação -->
<div class="d-flex justify-content-center mt-3">
  <pagination-controls 
    class="pagination-lg" 
    (pageChange)="onPageChange($event)" 
    previousLabel="Anterior"
    nextLabel="Próximo">     <!-- Botão "Próximo" -->
  </pagination-controls>
</div>
