.button-style {
  min-width: 220px;
  text-align: center;
}

h1 {
  color: white;
  text-shadow: 2px 2px black;
}

.big-button {
  width: 35vw;
  height: 40vh;
  font-size: 50px;
  margin-top: 150px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;

}

.comicsImg {
  background-image: url('../../assets/comics.jpeg');
}

.charactersImg {
  background-image: url('../../assets/characters.jpeg');
  background-size: contain;
}
